.App {
 align-items:center;
 justify-content:center;

}
body{
  background-color: #00eb8d;
}


form{
  display:flex;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid yellow;
}
form button{
  background: #333;
  color:white;
  border:none;
  border-radius: 50px;
  font-size: 40px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  height: 50px;
  width: 50px;
  line-height: 0px;
  margin:10px;
}
form button:hover{
  background-color: white;
  color:rgb(232,232,0);
  transform: rotate(765deg);
  transition: all 1s;
}
.todo_container{
  width: 50%;
  margin: 0 auto;
}
.todo{
  margin-top: 20px;
  background: white;
  padding: 10px 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 10px #ddd;
}
.todo input{
  cursor:pointer;
  width:50%;
  border: none;
  outline:none;
  background-color: transparent;
  font-size: 28px;
  font-family: "Poppins",sans-serif;
  font-weight: 500;

}
.button-complete,.button-delete,.button-edit{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;

}
#i{
  font-size: 35px;
}
.button-complete{
  color:#95faa3;
  margin-right: 10px;
}
.button-edit{
  color:#56cfff;
  margin-right: 10px;
}
.button-delete{
  color:rgb(255,122,98);
}
input:focus,button:focus{
  outline:none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
